h2 {
    margin-top: 70px;
}

img {
    height: 400px;
    width: 600px;
    object-fit: cover;
    padding: 10px;
    border: 2px solid black;
    background-color: light grey;
}

.start-box {
    height: 400px;
    width: 600px;
    padding: 10px;
    border: 2px solid black;
    background-color: grey;
}

.snake-display {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.snake-photos-container {
    display: flex;
}

button {
    margin-top: 15px;
    color: white;
    background-color: black;
}

.snake-title {
    margin-right: 100px;
}

.hidden {
    display: none;
}